body {
  margin: 0;
}

.margin {
  margin: 100px;
}

.table {
  width: 100%;
  text-align: left;
}

.table td {
  padding-top: 10px;
  padding-bottom: 10px;
}

#menu {
  background-color: #253A46;
  padding: 20px;
  font-size: 20px;
}

#menu a {
  color: white;
  padding-right: 50px;
}

.center {
  text-align: center;
}

.rojo {
  color: red
}

.pub_title {
  border-top: 1px solid black;
  cursor: pointer;
}

li {
  margin: 15px 0 15px 0px;
}

.container-tasks {
  font-size: 20px;
  margin-left: 50px;
  margin-bottom: 70px;
}